/*COLORS*/
$color--primary: #ddd621;
$color--secondary: #0d6efd;
$color--third: #5ddf4c;
$color--shadow: rgba(255, 255, 255, 0.507);

/*$color--product--first: #ee5293;
$color--product--second: #1bdd9c;
$color--product--third: #F56918;
$color--product--fourth: #80A147;
$color--product--fifth: #A263F7;*/

$color--product--first: #FF73C8;
$color--product--second: #705BDE;
$color--product--third: #70E4F5;
$color--product--fourth: #5BDE61;
$color--product--fifth: #FA9A39;

/*PIXELS*/
$px_site: 8px;

.h2--title{
    font-size: 40px;
    width: 100%;
    background-color: transparent;
    color: white;
    -webkit-text-stroke: 1px black;
}
.h3--title{
    font-size: 16px;
    width: 100%;
    background-color: transparent;
    color: white;
    -webkit-text-stroke: 1px black;
}
.div--separator{
    height: 56px;
    background-color: transparent;
}