@import "../sass/_variables.scss";

.listSquare--container{
    height: calc(calc($px_site * 28));
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    .listSquare--background{
        height: calc($px_site * 27);
        width: calc(100% - 16px);
        border-radius: $px_site;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-items: center;
        gap: $px_site;
        .listSquare--item{
            width: calc($px_site * 35);
            height: calc($px_site * 25);
            border-radius: $px_site;
            background-color: $color--secondary;
            box-shadow: none;
            border: solid 4px transparent;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            justify-items: center;
            &:hover{
                //box-shadow: 0px 0px 6px 4px $color--shadow;
                //box-shadow: 0px 0px 8px 2px $color--primary;
                background-color: $color--primary;
                border-color: $color--secondary;
            }
            &:hover >.listSquare--item--name{
                color: $color--secondary;
            }
            .listSquare--item--name{
                color: $color--primary;
                font-size: 20px;
                
            }
            &:hover .counterControl .counterNumber{
                color: $color--secondary;
            }
            &:hover .counterControl .counterButton{
                color: $color--secondary;
                background-color: $color--secondary;
                color: white;
            }
            &:hover .addCartButton{
                border: solid 2px $color--secondary;
                color: $color--secondary;
            }
            &:hover .viewDetail{
                border: solid 2px $color--secondary;
                color: $color--secondary;
                text-decoration: none;
            }
            .counterControl{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                justify-items: center;
                padding-top: 15px;
                .counterNumber{
                    width: 25px;
                    height: 25px;
                    color: white;
                    font-weight: bold;
                }
                .counterButton{
                    width: 32px;
                    height: 32px;
                    background-color: $color--primary;
                    border-radius: $px_site;
                    border-style: hidden;
                }
            }
            .addCartButton{
                width: 90%;
                border: solid 2px $color--primary;
                color: $color--primary;
                border-radius: $px_site;
                margin-top: $px_site;
                padding: $px_site;
                &:hover{
                    background-color: $color--secondary !important;
                    color: white !important;
                }
            }
            .viewDetail{
                width: 80%;
                border: solid 2px $color--primary;
                color: $color--primary;
                border-radius: $px_site;
                margin-top: $px_site;
                padding: $px_site;
                text-decoration: none;
                &:hover{
                    background-color: $color--secondary !important;
                    color: $color--primary;
                    text-decoration: none;
                    
                }
                .textLink{
                    color: $color--primary;
                    text-decoration: none;
                }
            }
        }
    }
}
.listSquare--itemDetail{
    height: calc(calc($px_site * 55));
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    .listSquare--itemDetail--background{
        height: calc($px_site * 50);
        width: calc(60% - 16px);
        border-radius: $px_site;
        border: solid 4px $color--primary;
        background-color: $color--secondary;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-items: center;
        gap: $px_site;
        padding: calc($px_site * 6);
        box-shadow: 0px 0px 8px 8px $color--primary;
        .name{
            color: $color--primary;
            font-size: calc($px_site * 6);
        }
        .brand{
            color: $color--shadow;
            font-size: calc($px_site * 2);
        }
        .description{
            text-align: justify;
            color: white;
        }
        .counterControl{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            justify-items: center;
            padding-top: 15px;
            .counterNumber{
                width: 25px;
                height: 25px;
                color: white;
                font-weight: bold;
            }
            .counterButton{
                width: 32px;
                height: 32px;
                background-color: $color--primary;
                border-radius: $px_site;
                border-style: hidden;
            }
        }
        .addCartButton{
            width: 20%;
            border: solid 2px $color--primary;
            color: $color--primary;
            border-radius: $px_site;
            margin-top: $px_site;
            padding: $px_site;
            &:hover{
                cursor: pointer;
                background-color: $color--primary !important;
                color: $color--secondary !important;
                border: solid 2px $color--secondary;
            }
            
        }
        .backButton{
            width: 20%;
            border: solid 2px $color--primary;
            color: $color--primary;
            text-decoration: none;
            border-radius: $px_site;
            margin-top: $px_site;
            padding: $px_site;
            cursor: pointer;
            &:hover{
                background-color: $color--primary !important;
                color: $color--secondary;
            }
        }
    }
}