@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
html,body{
  font-family: 'Chelsea Market', sans-serif;
  font-size: 16px;
  background-color: rgb(220, 228, 247)
}
.menuBrand{
  font-size: 20px;
  font-weight: bold;
  color: #ddd621 !important;
  font-family: 'Chelsea Market', serif;
}
.menuitem{
  font-weight: bold;
  font-size: 16px;
  transition: all 0.35s ease-in-out !important;
}
.menuitem:hover{
    color: red;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
